@page "/inventory"
@using myBlazorApp.Components;
@using System.Globalization;
@using myBlazorApp.Models;
@using Syncfusion.Blazor.Grids;

    <div class="inventory">
        <MyInventory/>
    </div>