.inventory-item {
    display:flex;
    flex-direction:column;
    width: 64px;
    height: 64px;
    border: 1px solid;
    overflow: hidden;
    align-content:center;
    
}
#name {
    text-align: center;
}
#number {
    text-align: center;
}
#stackSize {
    font-weight:lighter;
    text-align:right;
    margin-top:-5px;
    margin-right:2px;
}
#vide {
    align-self:center;
    margin-top:20px;
}